/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container{
    width: 890px;
    margin: auto;
}
@media (max-width: 800px) {
    .container{
        width: 800px;
    }
}
@media (max-width: 500px) {
    .container{
        width: 100%;
    }
}

header{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
    header{
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    header{
        flex-direction: column;
        width: 100%;
    }
    header nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}
header nav a{
    margin: 0 23px;
    text-decoration: none;
    color: rgba(160, 138, 143, 0.65);
    font-weight: 800;
}
@media (max-width: 800px) and (min-width: 500px) {
    header .logo{
        order: 1;
        margin: 0 0 15% 0;
    }
    header nav{
        order: 2;
    }
}
@media (max-width: 500px) {
    header .logo{
        order: 1;
    }
    header nav{
        order: 2;
    }
    header nav a, header a {
        border-bottom: 1px solid black;
        padding: 2% 0 2% 0;
        width: 100%;
        text-align: center;
        margin: 0;
    }
}
.lineCta{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.cta{
    margin: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cta-text{
    text-align: center;
    margin-right: 60px;
}
.cta-text h1{
    font-size: 75px;
}
@media (max-width: 800px) {
    .cta{
        width: 800px;
        margin: 7% 0 ;
    }
    .cta-text{
        margin: 0;
    }
    .cta-img{
        display: none;
    }
}
@media (max-width: 500px) {
    .cta{
        width: 100%;
        margin: 10% auto;
    }
    .cta-text h1{
        width: 100%;
        margin: 0;
    }
    .cta-img{
        display: none;
    }
}

.standard-button{
    background: white;
    cursor: pointer;
    border: 1px solid #492638;
    margin-top: 20px;
    border-radius: 12%;
    padding: 5px 18px;
    width: 112px;
}
.standard-button:hover {
    background: #d07fa7;
    border: 1px solid #985d7a;
    color: white;
}


.artSection{
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
    .middle-img{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .artSection{
        flex-direction: column;
    }
    .middle-img{
        width: 100%;
    }
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 5px;
}
@media (max-width: 500px){

}
footer{
    margin: 30px 0px;
}
.footerBlock{
    margin-bottom: 20px;
}
.lastLine{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}